__pycache__

# configuration
config.json
*.py
*.gif
*.mp4
*.pdf
*.md
*.pptx
*.xlsx
*.drawio
*.png
*.jpg
*.html
*.css
*.js
*.cjs
*.docx
*.doc
*.xls
*.xlsx
*.ppt
*.pptx
*.pdf
*.txt
*.csv
*.json
*.yaml
*.yml
*.mmd
*.skill
*/